{{# if editingNick }}
{{ partial "edit-nick" }}
{{/if }}
{{ partial "navigation" }}
{{ partial "channel-members" }}

<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div id="chat-logs">
        {{#each model.messages as |message| }}
        <div class="message message-kind-{{ message.kind }}
          message-direction-{{ message.direction }}">
          {{#if message.isChat }}
            {{ partial "chat-message" }}
          {{/if }}
          {{#if message.isJoin }}
            {{ partial "join-message" }}
          {{/if }}
          {{#if message.isPart }}
            {{ partial "part-message" }}
          {{/if }}
          {{#if message.isNick }}
            {{ partial "nick-message" }}
          {{/if }}
        </div>
        {{/each }}
      </div>
    </div>
    <div class="row">
      <div id="chat-input">
        {{ input autofocus=true enter="sendChat"
           disabled=disabled value=chatMessage }}
      </div>
    </div>
  </div>
</div>
